<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb md-body-1">
                <li class=""><a href="javascript:" ng-click="resetDoc()"><img ng-if="nav_menu.entry.func_img" ng-src="{{nav_menu.entry.func_img}}" />{{nav_menu.entry.func_name}}</a></li>
                <li class="active"><a href="javascript:" ng-click="resetDoc()">{{nav_menu.subEntry.sub_func_name}}</a></li>
            </ol>
            <p>{{nav_menu.subEntry.func_desc}}</p>
        </div>
        <span flex></span>

    </div>
</md-toolbar>
<md-content class="md-padding" ng-if="!appSelected">

    <div class="head">
        <div class="left">
            <md-button class="md-raised md-primary panel-icon" ng-class="{'refreshing':refreshing}" aria-label="data control" ng-click="reset($event)">
                <md-icon class="" md-svg-icon="action:ic_cached_24px"></md-icon>
            </md-button>

            <rop-menu class="md-dropdown cool" md-offset="1 50" md-position-mode="target-right target">
              <md-button ng-click="$ropOpenMenu($event)" class="md-raised md-primary md-hue-1" md-theme="dracular" aria-label="data control" ng-disabled="refreshing || !user_list">
                <span ng-bind="userChoosen&&userChoosen.user_name || '全部开发者'"></span>
                <md-icon class="" md-svg-icon="navigation:ic_arrow_drop_down_24px"></md-icon>
              </md-button>
              <md-menu-content class="md-dropdown-content cool has-searcher">
                <md-menu-item class="searcher">
                  <md-input-container md-no-float class="md-block" md-theme="default">
                    <input type="text" ng-model="keyword" placeholder="请输入开发者名称......"/>
                  </md-input-container>
                </md-menu-item>
                <md-menu-item ng-if="!keyword">
                  <md-button ng-click="chooseUser()">全部</md-button>
                </md-menu-item>
                <md-menu-item ng-repeat="user in user_list track by $index" ng-if="keyword ? (user.user_name.indexOf(keyword) != -1): true">
                  <md-button ng-click="chooseUser(user)">{{user.user_name}}</md-button>
                </md-menu-item>
              </md-menu-content>
            </rop-menu>

            <md-menu class="md-dropdown dark" md-offset="1 50" >
                <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-primary md-hue-3" md-theme="dracular" aria-label="data control" ng-disabled="refreshing || !tableData._select">
                    <span>操作</span>
                    <md-icon class="" md-svg-icon="navigation:ic_arrow_drop_down_24px"></md-icon>
                </md-button>
                <md-menu-content class="md-dropdown-content dark md-primary md-hue-3" md-theme="dracular">
                    <md-menu-item><md-button ng-click="viewApp(tableData._select)">API信息</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="showLog($event,tableData._select.app_id)">审核日志</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
            <form class="search-wrapper" ng-submit="research()">
                <div class="search-group">
                    <button type="submit">
                        <md-icon class="md-primary" md-svg-icon="action:ic_search_24px" ng-click="research()"></md-icon>
                    </button>
                    <input type="text" class="searcher" ng-model="$parent.keyword" placeholder="请输入App Key......"/>
                </div>
            </form>
            <md-button class="md-raised text " ng-class="{'fill':(search_status == '0'),'line':(search_status == '1')}" aria-label="data control" ng-click="toggleTODO()">
                <span ng-bind="(search_status == '1')?'展开全部':'待办事项'"></span>
            </md-button>
        </div>
        <div flex></div>
        <div class="right">
            <a href="http://open.rongcapital.cn/welcome/doc/EBC5A1A8-6131-4BD3-BEBF-F70463F6C0AA" target="_blank" class="readmore">
                <span>开发者应用说明</span>
            </a>
        </div>
    </div>
    <div class="body">
        <!--<rop-fixed-table cols="columns" data="app_list" multiple="multiple"/>-->
        <rop-datatable cols="columns" data="$parent.tableData" searcher="$parent.searcher" index="$parent.pageIndex" size="$parent.pageSize" total="$parent.total" multiple="$parent.multiple"/>
        <div class="app-loading" ng-if="refreshing || loading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</md-content>

<md-content class="md-padding" ng-if="appSelected">
    <div class="head">
        <div class="left">
            <md-button class="md-raised md-primary panel-icon" ng-class="{'refreshing':refreshing}" aria-label="data control" ng-click="apiReset($event)">
                <md-icon class="" md-svg-icon="action:ic_cached_24px"></md-icon>
            </md-button>

            <md-menu class="md-dropdown cool" md-offset="1 50" >
                <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-primary md-hue-1" md-theme="dracular" aria-label="data control" ng-disabled="refreshing">
                    <span ng-bind="appSelected.catChoosen && appSelected.catChoosen.cat_name || '全部分类'"></span>
                    <md-icon class="" md-svg-icon="navigation:ic_arrow_drop_down_24px"></md-icon>
                </md-button>
                <md-menu-content class="md-dropdown-content cool" >
                    <md-menu-item>
                        <md-button ng-click="chooseCat()">全部</md-button>
                    </md-menu-item>
                    <md-menu-item ng-repeat="cat in appSelected.cat_list track by $index">
                        <md-button ng-click="chooseCat(cat)">{{cat.cat_name}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu class="md-dropdown cool" md-offset="1 50" >
                <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-primary md-hue-1" md-theme="dracular" aria-label="data control" ng-disabled="refreshing">
                    <span ng-bind="appSelected.statusChoosen && appSelected.statusChoosen.status_name || '全部状态'"></span>
                    <md-icon class="" md-svg-icon="navigation:ic_arrow_drop_down_24px"></md-icon>
                </md-button>
                <md-menu-content class="md-dropdown-content cool" >
                    <md-menu-item>
                        <md-button ng-click="chooseStatus()">全部</md-button>
                    </md-menu-item>
                    <md-menu-item ng-repeat="status in appSelected.status_list track by $index">
                        <md-button ng-click="chooseStatus(status)">{{status.status_name}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu class="md-dropdown dark" md-offset="1 50" >
                <md-button ng-click="$mdOpenMenu($event)" class="md-raised md-primary md-hue-3" md-theme="dracular" aria-label="data control" ng-disabled="refreshing || !canAPIAudit() && !canAPICancel() && !canAPIDelete()">
                    <span>操作</span>
                    <md-icon class="" md-svg-icon="navigation:ic_arrow_drop_down_24px"></md-icon>
                </md-button>
                <md-menu-content class="md-dropdown-content dark md-primary md-hue-3" md-theme="dracular">
                    <md-menu-item ng-if="canAPIAudit()"><md-button ng-click="auditAPI($event)">审核</md-button></md-menu-item>
                    <md-menu-item ng-if="canAPICancel()"><md-button ng-click="cancelAPI()">解除审核</md-button></md-menu-item>
                    <md-menu-item ng-if="canAPIDelete()"><md-button ng-click="deleteAPI()">删除</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <span flex></span>
        <div class="right" style="display: block; color: #00c5a3; max-width: 400px;">
            <p style="margin: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><span style="display: inline-block; width: 67px; margin-right: 5px;">开发者名称: </span>{{tableData._select.user_name}}</p>
            <p style="margin: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><span style="display: inline-block; width: 67px; margin-right: 5px;">应用名称: </span>{{tableData._select.app_name}}</p>
        </div>
    </div>
    <div class="body">
        <!--<rop-fixed-table cols="columns" data="app_list" multiple="multiple"/>-->
        <rop-datatable cols="apiColumns" data="apiTableData" searcher="apiSearcher" index="$parent.apiPageIndex" size="$parent.apiPageSize" total="$parent.apiTotal" multiple="apiMultiple" sorter="appSelected.sorter"/>
        <div class="app-loading" ng-if="refreshing">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</md-content>
