<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb md-body-1">
                <li class=""><a href="javascript:"><img ng-if="nav_menu.entry.func_img" ng-src="{{nav_menu.entry.func_img}}" />{{nav_menu.entry.func_name}}</a></li>
                <li class="active"><a href="javascript:">{{nav_menu.subEntry.sub_func_name}}</a></li>
            </ol>
            <p>{{nav_menu.subEntry.func_desc}}</p>
        </div>
        <span flex></span>

    </div>
</md-toolbar>

<md-content class="md-padding">
    <div class="head">
        <div class="left">
            <md-button class="md-raised md-primary panel-icon" ng-class="{'refreshing':loading || refreshing}" aria-label="data control" ng-click="reset($event)">
                <md-icon class="" md-svg-icon="action:ic_cached_24px"></md-icon>
            </md-button>
            <form class="search-wrapper" ng-submit="research()">
                <div class="search-group">
                    <button type="submit">
                        <md-icon class="md-primary" md-svg-icon="action:ic_search_24px" ng-click="research()"></md-icon>
                    </button>
                    <input type="text" class="searcher" ng-model="keyword" placeholder="请输入关键字......"/>
                </div>
            </form>
        </div>
        <span flex></span>
        <div class="right">
            <a target="_blank" class="readmore">
                开发者产品管理
            </a>
        </div>
    </div>
    <div class="body">
        <div class="datatable-wrapper">
            <table cellspacing="0" class="md-datatable">
                <thead>
                <tr>
                    <th>
                        <span>产品名称</span>
                    </th>
                    <th>
                        <span>总金额（元）</span>
                    </th>
                    <th>
                        <span>总调用次数</span>
                    </th>
                    <th>
                        <span>已使用次数</span>
                    </th>
                    <th>
                        <span>剩余次数</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in data_list track by $index">
                    <td>
                        <span ng-bind="data.product_name"></span>
                    </td>
                    <td>
                        <span ng-bind="data.price"></span>
                    </td>
                    <td>
                        <span ng-bind="data.amount"></span>
                    </td>
                    <td>
                        <span ng-bind="data.amount - data.balance"></span>
                    </td>
                    <td>
                        <span ng-bind="data.balance"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav rop-pagination  class="md-pagination"  searcher="searcher" index="pageIndex" size="pageSize" total="total"></nav>
            <div class="app-loading" ng-if="refreshing">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
</md-content>
