<div class="loading " >
    <svg class="triangle" width="104px" height="104px" viewBox="0 0 40 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="triangle">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill="#212121">
                <path></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path ></path>
                <path></path>
            </g>
        </g>
    </svg>
</div>
